{% extends 'back.html.twig' %}

{% block title %}Instruments index{% endblock %}

{% block body %}
<div class="card" align="center" style="margin-left: 20px">



    <h1>Instruments </h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>IdInstrument</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Description</th>
                <th>nomCategorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instrument in instruments %}
            <tr>
                <td>{{ instrument.idInstrument }}</td>
                <td>{{ instrument.nom }}</td>
                <td>{{ instrument.prix }}</td>
                <td>{{ instrument.photo }}</td>

                <td>{{ instrument.description }}</td>

                <td>{{ instrument.idCategorie.nomCategorie }}</td>

                <td>
                    <a  href="{{ path('app_instruments_show', {'idInstrument': instrument.idInstrument}) }}"><button type="button" class="btn btn-dark">afficher</button></a>
                    <a  href="{{ path('app_instruments_edit', {'idInstrument': instrument.idInstrument}) }}"><button type="button" class="btn btn-dark">modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_instruments_new') }}"><button type="button" class="btn btn-success">Create</button></a>
</div>
{% endblock %}
