{% extends 'back.html.twig' %}

{% block title %}Instruments{% endblock %}

{% block body %}
    <h1>Instruments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdInstrument</th>
                <td>{{ instrument.idInstrument }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ instrument.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ instrument.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>


            </tr>
            <tr>
                <th>Description</th>
                <td>{{ instrument.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_instruments_index') }}">back to list</a>

    <a href="{{ path('app_instruments_edit', {'idInstrument': instrument.idInstrument}) }}">edit</a>

    {{ include('instruments/_delete_form.html.twig') }}
{% endblock %}
