{% extends 'back.html.twig' %}

{% block title %}Instruments{% endblock %}

{% block body %}

    <h1>Instruments</h1>
<div class="container">
    <table class="table table-bordered border-primary">
        <tbody>
            <tr>
                <th>IdInstrument</th>
                <td>{{ instruments.idInstrument }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ instruments.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ instruments.prix }}</td>
            </tr>





            </tr>
            <tr>
                <th>Description</th>
                <td>{{ instruments.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_instruments_index') }}"><button type="button" class="btn btn-primary">retour</button></a>

    <a href="{{ path('app_instruments_edit', {'idInstrument': instruments.idInstrument}) }}"><button type="button" class="btn btn-info">Edit</button></a>

    {{ include('instruments/_delete_form.html.twig') }}
</div>
{% endblock %}
