<section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Form Elements</h5>
{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
    <div class="row mb-3">
    <div class="form-group">
        {{ form_label(form.nom, null, { 'label_attr': {'class': 'above-input'} }) }}
           <div class="col-sm-10">
        {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
          </div>
            {{ form_errors(form.nom) }}
    </div>
    </div>
       <div class="row mb-3">
       <div class="form-group">
        {{ form_label(form.dateCreation, null, { 'label_attr': {'class': 'above-input'} }) }}
      <div class="col-sm-10">
        {{ form_widget(form.dateCreation, { 'attr': {'class': 'form-control','type':'date'} }) }}
        </div>
            {{ form_errors(form.dateCreation) }}
            </div>
    </div>
       <div class="row mb-3">
        <div class="form-group">
        {{ form_label(form.idUser, null, { 'label_attr': {'class': 'above-input'} }) }}
       <div class="col-sm-10">
        {{ form_widget(form.idUser, { 'attr': {'class': 'form-control'} }) }}
            </div>
            {{ form_errors(form.idUser) }}


    </div>
    </div>
    <div class="row mb-3">
     <div class="form-group">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
    </div>
{{ form_end(form) }}
</div>
          </div>

        </div>
      </div>
    </section>
  