<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="DJoz Template">
    <meta name="keywords" content="DJoz, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Day Event</title>
    {% block stylesheets %}
        <!-- Google Font -->
        <link href="{{ asset ('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap')}}"rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="{{ asset ('frontend/css/bootstrap.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ asset ('frontend/css/font-awesome.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ asset ('frontend/css/barfiller.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ asset ('frontend/css/nowfont.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ asset ('frontend/css/rockville.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ asset ('frontend/css/magnific-popup.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ asset ('frontend/css/owl.carousel.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ asset ('frontend/css/slicknav.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ asset ('frontend/css/style.css')}}" type="text/css">
    {% endblock %}

</head>





<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <a href="./home"><img src="frontend/img/dayevent.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class=""><a href="./home">Login</a></li>
                            <li class=""><a href="./home">Accueil</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header__right__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>

<Footer>

 <div style="margin-top: 100px;display: flex;align-items: End;" >
 </div>

   <div><label for="email">Adresse e-mail :</label>
   <input type="email" id="email" name="email" required>
 </div>
 <div>
 <a href="{{ path('send_email') }}"><i class="button" style="font-size: 20px;">Envoyer</i></a>
 </div>

</Footer>
 




