{% extends 'baseclient.html.twig' %}

{% block body %}
    <div style="margin-top:150px;">
    </div>


    <h1>{{ instrument.nom }}</h1>
    {% set file_name = instrument.photo|split('/')|last %}
    <img class="card-img-top" src="{{ asset('images/products/' ~ file_name) }}" alt="{{ instrument.nom }}" style="width: 600px;
    height: 400px;">
    <p>{{ instrument.prix }}D</p>
     <h2>Description</h2>
    <p>{{ instrument.description }}</p>



    <div style="margin-bottom:800px;">
    </div
{% endblock %}
