{% extends 'front.html.twig' %}
{% block title %} CommandeTicket {% endblock %}

{% block body %}
    <div class="container">
    <h1>CommandeTicket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NomEvenement</th>
                <td>{{ commande_ticket.nomEvenement }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ commande_ticket.prix }}</td>
            </tr>
            <tr>
                <th>IdTicket</th>
                <td>{{ commande_ticket.idTicket }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_ticket_newF') }}">back</a>

    <a href="{{ path('app_commande_ticket_editF', {'id': commande_ticket.id}) }}">edit</a>
    <a href="{{ path('users_data_download', {'id': commande_ticket.id}) }}">Télécharger les données</a>
        </div>
{% endblock %}
